
@font-face {
    font-family: 'FranklinGothic';
    src: url('FranklinGothic/FranklinGothic.eot');
    src: url('FranklinGothic/FranklinGothic.eot?#iefix') format('embedded-opentype'),
        url('FranklinGothic/FranklinGothic.woff2') format('woff2'),
        url('FranklinGothic/FranklinGothic.woff') format('woff'),
        url('FranklinGothic/FranklinGothic.ttf') format('truetype'),
        url('FranklinGothic/FranklinGothic.svg#FranklinGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}
