.dm-about-sec{
	padding-bottom: 90px;
}
.dm-about-sec-inr{
	background: #88BE43;
	padding: 50px 70px 55px 45px;
}
.dm-about-sec-title{
	display: block;
	font-size: 36px;
	line-height: 1;
	margin-bottom: 30px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.dm-about-sec-inr p{
	font-size: 21px;
	line-height: 35px;
	color: #fff;
}
.dm-about-sec-inr p a{
	color: #2f760c;
	margin-left: 30px;
	text-transform: capitalize;
}
.dm-about-sec-inr p a:hover{
	color: #2B2829;
}

.dm-vision-mision-sec{
	background: #F5F7F7;
	padding: 60px 0 35px 0;
}
.dm-vm-title{
	display: block;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #7fb23b;
	text-align: center;
}
.dm-vm-title span{
	color: #606060;
}

.dm-vision-mision-grd-sec{
	padding: 60px 0;
}

.dm-vision-mision-grd-sec-inr ul li{
	float: left;
	width: 50%;
	padding-right: 63px;
	padding-left: 63px;
}
.dm-vision-mision-grd-sec-inr ul li:first-child{
	padding-left: 75px;
}
.dm-vision-mision-grd-sec-inr ul li:last-child{
	padding-right: 75px;
}

.dm-vm-grd-item{
	background: #F5F7F7;
	padding: 115px 80px 40px 40px;
	position: relative;
}
.dm-vm-grd-item:before{
	content: "";
	height: 43px;
	width: 70px;
	position: absolute;
	background: url('../images/dm-vm-grd-item-blockquoct.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top: 50px;
	left: 40px;
}

.dm-vm-grd-item-title{
	display: block;
	font-size: 41px;
	line-height: 1;
	margin-bottom: 10px;
	font-weight: 700;
	color: #7FB23B;
	text-transform: uppercase;
}
.dm-vm-grd-item p{
	font-size: 22px;
	line-height: 33px;
	color: #606060;
	font-family: 'Montserrat', sans-serif;
}


.dm-about-value-sec{
	margin-bottom: 110px;
	background: #F5F7F7;
	padding: 45px 0 50px;
}

.dm-about-value-title{
	display: block;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #7FB23B;
	text-align: center;
}
.dm-about-value-sec-inr ul{
	margin-left: 185px;
	margin-right: 75px;
}
.dm-about-value-sec-inr ul li{
	float: left;
	width: 50%;
	padding: 0 0 18px 30px;
	font-size: 30px;
	color: #606060;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}
.dm-about-value-sec-inr ul li:after{
	content: "";
	height: 18px;
	width: 16px;
	position: absolute;
	top: 10px;
	left: 0;
	background: url('../images/dm-about-value-star.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}