header.header{
	padding-top: 20px;
}
.hdr-lft{
	float: left;
	width: 20%;
}
.hdr-rgt{
	float: right;
	width: 80%;
}
.hdr-topbar{
	padding-bottom: 15px;
}
.logo{
	padding-top: 20px;
}
nav.main-nav > ul{
	float: right;
	font-size: 13.5px;
	line-height: 1;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	color: #2a2828;
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0 20px;
}
nav.main-nav > ul > li > a{
	padding-bottom: 30px;
	display: block;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
