header.header{
	padding-top: 20px;
}
.hdr-lft{
	float: left;
	width: 20%;
}
.hdr-rgt{
	float: right;
	width: 80%;
}
.hdr-topbar{
	padding-bottom: 15px;
}
nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
}
nav.main-nav > ul > li > a{

}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
